/*колір основного тексту #757575 */
/* вторинний колір тексту #212121  */
/* білий колір #FFFFFF */
/* акцент #2196F3 */

:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Text color */
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --primery-white-color: #ffffff;
  /* Background colors */
  --grey-bg-color: #2f303a;
  --lightgrey-bg-color: #f5f4fa;
  --btn-bg-color: #188ce8;

  --items: 3;
  --indent: 30px;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 500;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato; */
}

/* HEADER */

.header-container {
  display: flex;
}

.logo-header {
  display: block;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-link {
  margin-right: 93px;
  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.site-nav {
  margin-right: auto;
}

.list {
  display: flex;
  gap: 50px;
}

.page-header .link,
.page-header .link-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Site nav */

.logo-site {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
}

.logo-name,
.list .link-contact:hover,
.list .link-contact:focus,
.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.page-header .link {
  color: var(--secondary-text-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.link-contact {
  /* display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center; */
  color: var(--primary-text-color);
  text-decoration: none;
}

/* Hero */

.benefits-container {
  display: flex;
}

.hero {
  background-color: var(--grey-bg-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.hero-btn {
  width: 216px;
  min-height: 50;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background: var(--btn-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  color: var(--secondary-text-color);
}

/* Benefits */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.benefits-text {
  margin-right: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
}
.benefits-text:last-child {
  margin-right: 0;
}

.benefits-list {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--secondary-text-color);
}

/* Work */

.work {
  display: flex;
  gap: 30px;
}

/* Team */

.team-container {
  display: flex;
  gap: 30px;
}

.text-all {
  padding: 30px 61px;
}

.section-team {
  background-color: var(--lightgrey-bg-color);
}

.list-item {
  background-color: var(--primery-white-color);
}

.title-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;

  color: var(--primary-text-color);
}

/* Footer */

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--grey-bg-color);
}

.contact {
  font-style: normal;
}

.footer-text {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primery-white-color);
  text-decoration: none;
}

.footer .logo-site {
  margin-bottom: 20px;
  color: var(--primery-white-color);
  text-decoration: none;
}

.logo-footer {
  color: var(--accent-text-color);
}

.link {
  text-decoration: none;
}

.footer-contact {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
}
/* ПОРТФОЛІО */
/* Наші проекти */

/* Button */

.project-list {
  display: flex;
}

.btn-list {
  margin-bottom: 34px;
  flex-direction: row;
  align-items: center;
}

.project-btn {
  margin-right: 8px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  cursor: pointer;
  border: transparent;
}

/* .project-btn (:last-child) {
  margin-right: 0px;
} */

.project-btn:hover,
.project-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--primery-white-color);
}

/* Project*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  flex-basis: calc((100% - var(var(--indent)) * var(--items) - 1)) /
    var(--items);
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--primary-text-color);
  text-decoration: none;
}

.project-all {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}
