.register-form__group {
    margin-bottom: 20px;
  }
  
  .register-form__titel {
    display: block;
    text-align: center;
  
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: var(--secondary-text-color);
  }
  
  .register-form__field {
    position: relative;
    display: block;
    margin-bottom: 10px;

    &:last-child {
    margin-bottom: 0;
    }
  }
  
  .register-form__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }
  
  .register-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  }
  
  .register-form__input:focus,
  .register-form__input:hover {
    border-color: var(--accent-text-color);
  }
  
  .register-form__input:focus + .register-form__icon,
  .register-form__input:hover + .register-form__icon {
    fill: var(--accent-text-color);
  }
  
  .register-form__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form__message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
  
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form__message::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  
  .register-form__message:focus,
  .register-form__message:hover {
    border-color: var(--accent-text-color);
  }
  
  .register-form__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 7px;
  }
  
  .register-form__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
  
  .icon-checked {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form__checkbox:focus + .register-form__icons {
    border: 1px solid var(--accent-text-color);
  }
  
  .register-form__checkbox:focus + .register-form__icons .icon-unchecked {
    opacity: 0;
  }
  
  .register-form__checkbox:checked + .register-form__icons .icon-checked {
    opacity: 1;
  }
  .icon-unchecked {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .register-form__checkbox:checked + .register-form__icons .icon-unchecked {
    opacity: 0;
  }
  
  .register-form__link {
    color: var(--accent-text-color);
    text-decoration: none;

    &:focus,
    &:hover {
      border-bottom: 1px solid var(--accent-text-color);
    }
  }
  

  
  .register-form__btn {
    display: block;
    margin: 0 auto;
    width: 200px;
  }