:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Text color */
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-text-color: #2196f3;
    --primery-white-color: #ffffff;
    /* Background colors */
    --grey-bg-color: #2f303a;
    --lightgrey-bg-color: #f5f4fa;
    --btn-bg-color: #188ce8;
    /* Icons */
    --primery-icon-color: #afb1b8;
    --gap:30px;
    --items: 3;
    --indent: 30px;
  }
